# Java / Maven
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# Node / Angular
node_modules/
dist/
.angular/

# IDE
.idea/
*.iml
.vscode/

# OS
Thumbs.db
.DS_Store

# Env local
.env
*.local.yml
